PORT=3000
DB_NAME=CybertagShop
DB_CONNECTION_STRING=Driver={ODBC Driver 17 for SQL Server};Server=localhost\SQLEXPRESS;Database=CybertagShop;Trusted_Connection=yes;TrustServerCertificate=yes;
DB_MASTER_CONNECTION_STRING=Driver={ODBC Driver 17 for SQL Server};Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=yes;TrustServerCertificate=yes;
SESSION_DAYS=7
COOKIE_SECURE=0
SEED_DEMO_USER=1
DEMO_ADMIN_PASSWORD=cybertag2026
